/*
    Author: Eli Rucker
    Date: 12/04/2023
*/

/* 
    - Must demonstrate the use of the float property on at least one page.
    - All images used must be responsive. Meaning, they should scale with the viewport size.
    - All pages must have adequate margins and or padding so content is not crowded and is legible.
*/

#liveMusic, #openMic {
    font-size: 1.15rem;
    width: 95%;
    text-align: center;
    padding: 2rem;
    margin: auto;
}

p {
    width: 70%;
    margin: auto;
}

#liveMusic img {
    width: 100%;
    max-width: 1000px;
    border: 2px solid #32292F;
    border-radius: .25rem;
    padding: .15rem;
}

#openMic img {
    width: 60%;
    max-width: 1000px;
    border: 2px solid #32292F;
    border-radius: .25rem;
    padding: .15rem;
}

@media (max-width: 640px) {
    #liveMusic, #openMic {
        width: 100%;
        font-size: 1rem;
        padding: 0;    
    }
}