/*
    Author: Eli Rucker
    Date: 12/04/2023
*/

/* 
    ALL CSS 
    - Must demonstrate the use of the float property on at least one page.
    - All images used must be responsive. Meaning, they should scale with the viewport size.
    - All pages must have adequate margins and or padding so content is not crowded and is legible.
    MAIN.CSS
    - Must contain the styles for the header, footer, and navigation.
    - Any styles that are used on each page of your site should be included in the main.css.
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* 
    TIER 2 CONTENT 
    - Fonts used by business owner for business sign are 'Aardvark Cafe' for 'Bullquarian' and 'Arial Narrow' for 'Brewhouse'. Font only avialable as font file, will update header with specific fonts as secondary project.
*/
header {
    display: block;
    text-align: center;
    background-color: #0C7489;
    color: #32292F;
    text-shadow: 1px 1px #C17c74;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: solid 4px #32292F;
    border-bottom: solid 4px #32292F;
}

header img {
    max-width: 1000px;
    border: solid 2px #32292F;
    margin: 1em;
}

header figcaption a {
    text-decoration: none;
    color: #32292F;
    font-style: italic;
}

header nav {
    padding: 1rem;
    font-weight: 600;
}

#siteNav a {
    color: #32292F;
    text-decoration: none;
}

#siteNav a:hover {
        color: #BCAC9B;
}

footer {
    width: 100%;
    color: #32292F;
    background-color: #0C7489;
    padding: 1.5rem;
    border-top: .25rem solid #BCAC9B;
}

footer address {
    text-align: right;
    padding-right: 3em;
    color: #32292F;
}

footer a {
    text-decoration: none;
    color: #32292F;
}

footer a:hover {
    color: #C17c74;
    text-shadow: 1px 1px #DDC9B4;
}

#businessContact {
    text-shadow: 1px 1px #DDC9B4;
    background-color: #BCAC9B;
    border: solid 2px #32292F;
    padding: .5rem;
    border-radius: .25rem;
}

/* 
    MAIN.CSS
    Must include a media query for when the viewport is less than or equal to 40em (640px). Change some
    styles, so that when the viewport is reduced to mobile phone size, the site is improved. Some ideas or
    things you can consider:
    • Modify the heading sizes
    • Add or reduce margins or padding where appropriate
    • Increase the size of links to be more "finger-friendly."
 */

 @media (max-width: 640px) {
    
 }